# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repos\Rot13RESTService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
